<h2>User Profile</h2>
<br />
<div class="row">
<div class="span1">
    <%if current_user.photo? %>
    <%= image_tag current_user.photo.url(:small) %>
    <% else %>
    <p> No Photo Found. </p><p>To Add Photo Visit: <%= link_to "Change User Settings", edit_user_registration_path %>
    <% end %>
  </div>
  <div class="span4">
    <h4><%= current_user.first_name %> <%= current_user.last_name %></h4>
    <br />
    <p>Email: <%= current_user.email %>
    <p>License Number:<%= current_user.license_number %>
    <p>Speciality: <%= current_user.specialty %>
  </div>
  
</div>
<div class="row">
  <div class="span5">
    <br />
    <h3>Sessions</h3>
    <% @sessions.each do |period_registration| %>
    <h4><%= link_to period_registration.period.event.name, period_registration.period.event%><h4>
    <h5><%= period_registration.period.name %></h5>
    <h6><%= period_registration.period.start_time.strftime("%l:%M") %> - 
        <%= period_registration.period.end_time.strftime("%l:%M %P") %> 
        <%=  period_registration.period.event.date.strftime("%b %e, %Y") %></h6>
   <h6><%=  period_registration.period.event.city  %>, <%=period_registration.period.event.state %></h6>
    <p> <%= period_registration.period.description %> <p>
    <hr />
  <% end %>
  </div>
</div>
<div class="row">
  <div class="span5">
    <h3>Medical Inquiries</h3>
    <% @inqueries.each do |inquery| %>
      <h4><%= inquery.product.name %></h4>
      <p><%= inquery.message %><p>
  <% end %>
  <hr />
  </div>

</div>

<div class="row">
  <h3>Product Requests</h3>
  <% @product_requests.each do |product_request| %>
    <h6><%= product_request.product.name %></h6>
      <div class="offset1"><p>Date: <%= time_ago_in_words(product_request.created_at) %> ago</p>
                           <p>Quantity: <%= product_request.quantity %></p>
                           <p>Status: <%= product_request.status %></p>
      </div>
  <% end %>
</div>









