<h2>Forgot your password?</h2>
<%= link_to "Sign up",  new_user_registration_path %> | <%= link_to "Sign in", new_user_session_path %><br />


<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
  <%= devise_error_messages! %>

  <p>Input your email below and password retrevial instructions will be sent to you</p>

  <div><%= f.label :email %>
  <%= f.email_field :email %></div>

  <div><%= f.submit "Send me reset password instructions", class: "btn-success" %></div>
<% end %>
